.canvas-plugin {
  margin-left: 30px;
}
.form-row {
  margin-top: 10px;
}
.label-spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
}
.connect-canvas-button {
  margin-top: 7px;
}
.registered-accounts {
  list-style: none;
  margin-left: 0;
}
.registered-canvas-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 0;
}
.registered-canvas-user i {
  font-size: 20px;
}
.registered-canvas-user .username {
  margin: 0 7px 0 5px;
}
/* CONNECTION STATUS STYLING */
#connection-state-msg-canvas {
  margin-left: 3px;
}
.connection-status-line {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.connection-status-line p {
  margin: 0;
}
.connection-status-line .connection-info-container {
  margin-left: 2.5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.connection-status-line .connection-info-container .connection-info-icon {
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
}
.connection-status-line .connection-info-container .connection-info-text {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 250px;
  left: 35px;
  top: -30px;
  background-color: #f5f5f5;
  border: 1px solid #363636;
  border-radius: 3px;
  padding: 10px;
}
.connection-status-line .connection-info-container .connection-info-text::after,
.connection-status-line .connection-info-container .connection-info-text::before {
  content: "";
  position: absolute;
  display: block;
  right: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}
.connection-status-line .connection-info-container .connection-info-text::after {
  top: 29px;
  border-color: transparent #f5f5f5 transparent transparent;
  border-width: 10px;
}
.connection-status-line .connection-info-container .connection-info-text::before {
  top: 28px;
  border-color: transparent #363636 transparent transparent;
  border-width: 11px;
}
.connection-status-line .connection-info-container .connection-info-text .connection-info-heading {
  margin: 0;
  font-size: 14px;
}
.connection-status-line .connection-info-container .connection-info-text .connection-info-body {
  font-size: 12px;
}
/* LOADER STYLING */
.loading-overlay-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.loader {
  width: 4em;
  height: 4em;
  border: 8px solid rgba(255, 255, 255, 0.4);
  border-top-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: rotate360 1.5s linear infinite;
  animation: rotate360 1.5s linear infinite;
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* DOWNLOAD PROGRESS BAR STYLING */
.side-notifications-list {
  position: fixed;
  top: 15%;
  left: 0;
  margin: 0;
}
.popup-notification {
  position: relative;
  list-style: none;
  text-align: right;
  width: 200px;
  padding: 0.5rem 1.1rem;
  margin-bottom: 7px;
  border: 1px solid #363636;
  border-left: none;
  z-index: 5;
  background-color: #f5f5f5;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  word-wrap: break-word;
}
.popup-notification i {
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: -7px;
  border: 1px solid #ffffff;
  background-color: #363636;
  color: #ffffff;
  border-radius: 50%;
  padding: 1px;
  font-size: 12px;
  margin: 0;
}
.popup-notification .popup-title,
.popup-notification h6 {
  margin: 0;
  margin-bottom: 2px;
}
.popup-notification p {
  margin: 0;
  font-size: 12px;
  font-style: italic;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.total-bar {
  width: 100%;
  background-color: rgba(54, 54, 54, 0.2);
  border-radius: 3px;
  margin-top: 25px;
}
.current-bar {
  width: 0%;
  background-color: rgba(54, 54, 54, 0.8);
  position: relative;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border-radius: 3px;
}
.progression-tool-tip {
  position: absolute;
  left: 0;
  top: -125%;
  padding: 1px 5px;
  background-color: #363636;
  color: #ffffff;
  border-radius: 5px;
  font-size: 9px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
}
.tool-tip-arrow::after {
  content: " ";
  position: absolute;
  bottom: -35%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #363636 transparent transparent transparent;
}
.highlight-glow-received {
  -webkit-animation: highlight-received 1.5s 1;
  animation: highlight-received 1.5s 1;
}
@-webkit-keyframes highlight-received {
  0% {
    background: #ebf2e8;
  }
  100% {
    background: #f5f5f5;
  }
}
@keyframes highlight-received {
  0% {
    background: #ebf2e8;
  }
  100% {
    background: #f5f5f5;
  }
}
.popup-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.small-loader {
  display: none;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 5px;
  width: 11.9px;
  height: 11.9px;
  border: 2px solid rgba(54, 54, 54, 0.2);
  border-top-color: #363636;
  border-radius: 50%;
  -webkit-animation: rotate360 1.5s linear infinite;
  animation: rotate360 1.5s linear infinite;
}
.canvas-theme {
  /* 1. Switch Octoprint Logo for Canvas Logo */
  /* 2. Button Styling */
  /* 3. Icon Styling */
  /* 4. Tabs + Tab Content Styling */
  /* 5. Top Navigation Bar Styling */
  /* 6. Accordion Styling (Connection, State, Files Containers) */
  /* 7. Specific Canvas Tab Styling */
  /* 8. Settings Modal Styling */
  /* 9. SWEET ALERT 2 STYLING */
  /* 10. EXTRA/OTHER Styling */
}
.canvas-theme .brand span {
  color: #ffffff;
  font-weight: 700;
  font-size: 95%;
  background-size: contain !important;
  background-image: url(../img/Mosaic_Icon_Square.png) !important;
  background-position-y: -3px;
}
.canvas-theme .btn {
  background: #363636 !important;
  border-radius: 3px !important;
  opacity: 1;
  text-shadow: none !important;
  color: #ffffff !important;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.canvas-theme .btn:hover:not(:disabled),
.canvas-theme .btn:hover:not([disabled]) {
  background-color: rgba(54, 54, 54, 0.1) !important;
  color: #363636 !important;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.canvas-theme .btn.disabled:hover {
  background-color: #ffffff !important;
  color: #868686 !important;
  cursor: default;
}
.canvas-theme .btn-primary[disabled],
.canvas-theme .btn[disabled],
.canvas-theme .btn.disabled {
  border: 1px solid #868686 !important;
  color: #868686 !important;
  background-color: #ffffff !important;
}
.canvas-theme .fa-wrench,
.canvas-theme .accordion-heading i,
.canvas-theme .nav.pull-right i {
  color: #ffffff;
}
.canvas-theme .fa-list:before,
.canvas-theme .accordion-heading .fa-info-circle:before,
.canvas-theme .fa-signal:before,
.canvas-theme .print-control .fa-print:before,
.canvas-theme .fa-pause:before,
.canvas-theme .fa-stop:before,
.canvas-theme .fa-folder:before,
.canvas-theme .fa-upload:before {
  content: none;
}
.canvas-theme .nav.pull-right a:hover i {
  color: #363636;
}
.canvas-theme .dropdown-menu li:hover a > i,
.canvas-theme .dropdown-menu li:active a > i {
  color: #ffffff;
}
.canvas-theme .dropdown-menu li > a i {
  color: #363636;
}
.canvas-theme .dropdown-menu .dropdown-submenu:hover li a i {
  color: #363636;
}
.canvas-theme .dropdown-menu .dropdown-submenu:hover li:hover a i {
  color: #ffffff;
}
.canvas-theme .dropdown-menu .dropdown-submenu > a:after {
  border-left-color: #363636;
}
.canvas-theme .dropdown-menu .dropdown-submenu:hover > a:after,
.canvas-theme .dropdown-menu .dropdown-submenu:focus > a:after {
  border-left-color: #ffffff;
}
.canvas-theme .octoprint-container .tab-content {
  border: 1px solid #363636;
  border-radius: 0px;
}
.canvas-theme .nav-tabs {
  border: none;
}
.canvas-theme .nav-tabs li {
  margin-bottom: 0;
}
.canvas-theme .nav-tabs li a,
.canvas-theme #footer_version small {
  color: #484747;
}
.canvas-theme .nav-tabs > .active > a,
.canvas-theme .nav-tabs > .active > a:hover {
  color: #ffffff;
  background: #363636;
}
.canvas-theme .nav-tabs .active .dropdown-toggle,
.canvas-theme .nav-tabs .dropdown-toggle,
.canvas-theme .nav-tabs .dropdown-toggle:hover,
.canvas-theme .nav-tabs .active .dropdown-toggle:hover {
  margin-right: 0;
  background-color: #363636;
  border: 1px solid #363636;
  color: #ffffff;
}
.canvas-theme .nav-tabs .active .dropdown-toggle .caret,
.canvas-theme .nav-tabs .active .dropdown-toggle .caret:hover,
.canvas-theme .nav .dropdown-toggle .caret,
.canvas-theme .nav .dropdown-toggle .caret:hover,
.canvas-theme .nav .dropdown-toggle:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.canvas-theme .dropdown-menu li:hover > a,
.canvas-theme .dropdown-menu li:focus > a,
.canvas-theme .dropdown-submenu:hover > a,
.canvas-theme .dropdown-menu .active > a,
.canvas-theme .dropdown-menu .active > a:hover {
  background-color: #363636;
  background-image: none;
  color: #ffffff;
}
.canvas-theme .nav > li.dropdown.open.active > a:hover,
.canvas-theme .nav-tabs .open .dropdown-toggle {
  background-color: #363636;
  border-color: #363636;
}
.canvas-theme #navbar .navbar-inner {
  background-image: none !important;
  border: none !important;
  background-color: #363636 !important;
  color: #ffffff;
}
.canvas-theme #navbar .navbar-inner .brand,
.canvas-theme #navbar .navbar-inner.red .nav > li > a {
  text-shadow: 0 1px 0 #ccc !important;
}
.canvas-theme #navbar .navbar-inner .nav > li > a:hover,
.canvas-theme #navbar .navbar-inner.transparent .nav > li > a:hover {
  background-color: #dedede;
  background-image: -moz-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -o-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#bfbfbf));
  background-image: linear-gradient(to bottom, #f2f2f2, #bfbfbf);
  background-repeat: repeat-x;
}
.canvas-theme #navbar .navbar-inner .nav > li > a .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
.canvas-theme #navbar .navbar-inner .nav > li > a:hover .caret,
.canvas-theme #navbar .navbar-inner .nav > li.dropdown.open > .dropdown-toggle .caret {
  border-bottom-color: #363636;
  border-top-color: #363636;
}
.canvas-theme #navbar .navbar-inner .nav > li.dropdown.open > .dropdown-toggle i {
  color: #363636;
}
.canvas-theme .accordion-group {
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 0px;
}
.canvas-theme .accordion-heading {
  background-color: #363636;
  border-bottom: 1px solid #363636;
}
.canvas-theme .accordion-heading a:hover,
.canvas-theme .accordion-toggle {
  color: #ffffff;
}
.canvas-theme .icon-sd-black-14 {
  background: url(../img/sd-card.png) no-repeat;
  width: 16px;
  height: 13px;
  margin-top: 4px;
  background-size: contain;
}
.canvas-theme .title.clickable {
  padding-top: 1px;
  padding-bottom: 1px;
}
.canvas-theme .palette-tag {
  width: 60%;
  padding-right: 40%;
  position: relative;
}
.canvas-theme .palette-tag::after {
  content: "Palette 2";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #363636;
  padding: 0px 20px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 1px;
  cursor: auto;
}
.canvas-theme #files .form-search {
  text-align: left;
}
.canvas-theme .add-user {
  margin-top: 10px;
}
.canvas-theme .label-spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
}
.canvas-theme .label-spacing input[type="password"] {
  margin-bottom: 0;
}
.canvas-theme .connect-canvas-button {
  margin-top: 20px;
}
.canvas-theme #connection-state-msg-canvas {
  color: red;
}
.canvas-theme .registered-accounts {
  margin-left: 0;
  margin-bottom: 0;
}
.canvas-theme .registered-canvas-user {
  list-style: none;
  color: #363636;
  background-color: #ffffff;
  margin: 7.5px 10px 7.5px 0;
  padding: 5px 15px 5px 10px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-transition: 0.15s all;
  -o-transition: 0.15s all;
  transition: 0.15s all;
  border: 1px solid #363636;
  border-radius: 2px;
}
.canvas-theme .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}
.canvas-theme .canvas-plugin {
  display: block;
  margin-left: 30px;
}
.canvas-theme a.canvas-register,
.canvas-theme a.canvas-register:visited {
  text-decoration: underline;
  font-weight: 400;
  opacity: 1;
  color: #363636;
}
.canvas-theme a.canvas-hub-manage,
.canvas-theme a.canvas-hub-manage:visited {
  font-weight: 400;
  opacity: 1;
  color: #363636;
  text-decoration: underline;
}
.canvas-theme .btn:hover .canvas-hub-manage {
  color: #363636;
  text-decoration: none;
}
.canvas-theme .hub-manage-container {
  margin-top: 5px;
  margin-bottom: 10px;
}
.canvas-theme #settings_dialog a,
.canvas-theme #plugin_announcements_dialog a {
  color: rgba(54, 54, 54, 0.7);
}
.canvas-theme #settings_dialog a:hover,
.canvas-theme #settings_dialog .nav-header,
.canvas-theme #plugin_announcements_dialog a:hover,
.canvas-theme #plugin_announcements_dialog_content a {
  color: #363636;
}
.canvas-theme #settings_dialog .nav-list > .active > a,
.canvas-theme #settings_dialog .nav-pills > .active > a,
.canvas-theme #plugin_announcements_dialog .nav-list > .active > a {
  color: #ffffff;
  background-color: #363636;
}
.canvas-theme .configurelink:hover .fa-wrench {
  color: #363636;
}
.canvas-theme #settings_dialog .pull-right .btn:hover i {
  color: #363636;
}
.canvas-theme #settings_plugin_pluginmanager_repositorydialog a {
  color: rgba(54, 54, 54, 0.8);
  text-decoration: underline;
}
.canvas-theme #settings_plugin_pluginmanager_repositorydialog a:hover {
  color: #000000;
}
.canvas-theme .swal2-popup {
  border-radius: 1px;
  border: 1px solid #363636;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1em 0.4em 0.2em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1em 0.4em 0.2em;
  padding: 1.25em 2em 0.5em;
  width: 30rem;
}
.canvas-theme .swal2-popup .swal2-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.canvas-theme .swal2-popup .swal2-title {
  color: #363636;
  font-size: 1.6rem;
  width: 70%;
  text-align: left;
}
.canvas-theme .swal2-popup .swal2-icon {
  margin: 0 1.5rem 1em 0;
  height: 4.5em;
  width: 4.5em;
  line-height: 4.5em;
}
.canvas-theme .swal2-popup .swal2-icon .swal2-icon-text {
  font-size: 3em;
}
.canvas-theme .swal2-popup .swal2-styled.swal2-confirm,
.canvas-theme .swal2-popup .swal2-styled.swal2-cancel {
  border-radius: 2px;
  font-size: 100%;
  padding: 0.4em 2em;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2em 1em 0.1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2em 1em 0.1em;
}
.canvas-theme .swal2-popup .swal2-styled.swal2-confirm {
  background-color: #363636;
}
.canvas-theme .swal2-popup .swal2-styled.swal2-cancel {
  background-color: #ffffff;
  color: #8f8f8f;
}
.canvas-theme .swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: none;
}
.canvas-theme .swal2-popup .swal2-content {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5);
  color: #363636;
  letter-spacing: 0.4px;
  border-bottom: 1px solid #363636;
  font-weight: 400;
  text-align: left;
  line-height: 140%;
}
.canvas-theme .swal2-popup .swal2-checkbox {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.canvas-theme .swal2-popup .update-checkbox,
.canvas-theme .swal2-popup .setup-checkbox {
  margin-bottom: 0;
}
.canvas-theme .swal2-popup #swal2-content {
  text-align: left;
}
.canvas-theme .swal2-icon.swal2-info {
  border-color: #363636;
  color: #363636;
}
.canvas-theme .swal2-icon.swal2-success {
  border-color: #363636;
  color: #363636;
}
.canvas-theme .swal2-icon.swal2-success [class^="swal2-success-line"][class$="tip"] {
  left: 0.6em;
}
.canvas-theme .swal2-icon.swal2-success [class^="swal2-success-line"][class$="long"] {
  right: 0.2em;
}
.canvas-theme .swal2-icon.swal2-success [class^="swal2-success-line"] {
  background-color: #363636;
}
.canvas-theme .swal2-icon.swal2-success .swal2-success-ring {
  border-color: #363636;
}
.canvas-theme .swal2-icon.swal2-error {
  border-color: #363636;
}
.canvas-theme .swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
  top: 2.15em;
}
.canvas-theme .swal2-icon.swal2-error [class^="swal2-x-mark-line"][class$="left"] {
  left: 0.85em;
}
.canvas-theme .swal2-icon.swal2-error [class^="swal2-x-mark-line"][class$="right"] {
  right: 0.8em;
}
.canvas-theme .swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
  background-color: #363636;
}
.canvas-theme .swal2-popup .swal2-actions {
  margin: 0.5em 0 0 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.canvas-theme .swal2-animate-success-icon .swal2-success-line-tip {
  -webkit-animation: swal2-animate-success-line-tip-ct 0.75s;
  animation: swal2-animate-success-line-tip-ct 0.75s;
}
.canvas-theme .swal2-animate-success-icon .swal2-success-line-long {
  -webkit-animation: swal2-animate-success-line-long-ct 0.75s;
  animation: swal2-animate-success-line-long-ct 0.75s;
}
@-webkit-keyframes swal2-animate-success-line-tip-ct {
  0% {
    top: 1.1875em;
    left: 0.0625em;
    width: 0;
  }
  54% {
    top: 1.0625em;
    left: 0.125em;
    width: 0;
  }
  70% {
    top: 2.1875em;
    left: -0.375em;
    width: 3.125em;
  }
  84% {
    top: 3em;
    left: 1.1125em;
    width: 1.0625em;
  }
  100% {
    top: 2.8125em;
    left: 0.6em;
    width: 1.5625em;
  }
}
@keyframes swal2-animate-success-line-tip-ct {
  0% {
    top: 1.1875em;
    left: 0.0625em;
    width: 0;
  }
  54% {
    top: 1.0625em;
    left: 0.125em;
    width: 0;
  }
  70% {
    top: 2.1875em;
    left: -0.375em;
    width: 3.125em;
  }
  84% {
    top: 3em;
    left: 1.1125em;
    width: 1.0625em;
  }
  100% {
    top: 2.8125em;
    left: 0.6em;
    width: 1.5625em;
  }
}
@-webkit-keyframes swal2-animate-success-line-long-ct {
  0% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  65% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  84% {
    top: 2.1875em;
    right: 0;
    width: 3.4375em;
  }
  100% {
    top: 2.375em;
    right: 0.2em;
    width: 2.9375em;
  }
}
@keyframes swal2-animate-success-line-long-ct {
  0% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  65% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }
  84% {
    top: 2.1875em;
    right: 0;
    width: 3.4375em;
  }
  100% {
    top: 2.375em;
    right: 0.2em;
    width: 2.9375em;
  }
}
.canvas-theme .progress .bar,
.canvas-theme .slider .slider-selection {
  background-color: rgba(54, 54, 54, 0.7);
  background-image: -moz-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(54, 54, 54, 0.5)), to(rgba(54, 54, 54, 0.95)));
  background-image: -webkit-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
  background-image: -o-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.1)), to(rgba(54, 54, 54, 0.95)));
  background-image: linear-gradient(to bottom, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
}
.canvas-theme .slider .slider-selection:hover,
.canvas-theme .slider .slider-selection:active {
  background-color: rgba(54, 54, 54, 0.5);
}
.canvas-theme input.search-query {
  border-radius: 3px;
}
.canvas-theme #temperature-graph {
  background-image: none !important;
}
.canvas-theme .ui-pnotify .alert,
.canvas-theme .alert {
  color: #363636;
  background-color: #ffffff;
  border: 1px solid #363636;
}
.canvas-theme .ui-pnotify .alert h4,
.canvas-theme .alert h4,
.canvas-theme .ui-pnotify .alert a,
.canvas-theme .alert a {
  color: #363636;
}
.canvas-theme #wizard_plugin_tracking_link a {
  background-color: #363636;
}
.canvas-theme .ui-pnotify-icon span {
  margin-top: 3px;
  margin-left: 1px;
}
.canvas-theme .hide {
  display: none;
}
.canvas-theme .material-icons {
  margin-right: 2px;
}
.canvas-theme .material-icons.md-22 {
  font-size: 22px;
}
.canvas-theme hr {
  margin-left: -20px;
}
