.canvas-theme .brand span {
  color: white;
  font-weight: 700;
  font-size: 95%;
  background-size: contain !important;
  background-image: url(../img/Mosaic_Icon_Square.png) !important;
  background-position-y: -3px;
}
.canvas-theme .btn {
  background: #363636 !important;
  border-radius: 3px !important;
  opacity: 1;
  text-shadow: none !important;
  color: white !important;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.canvas-theme .btn:hover:not(:disabled),
.canvas-theme .btn:hover:not([disabled]) {
  background-color: rgba(54, 54, 54, 0.1) !important;
  color: #363636 !important;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.canvas-theme .btn.disabled:hover {
  background-color: white !important;
  color: #868686 !important;
  cursor: default;
}
.canvas-theme .btn-primary[disabled],
.canvas-theme .btn.disabled {
  border: 1px solid #868686 !important;
  color: #868686 !important;
  background-color: white !important;
}
.canvas-theme .accordion-heading i,
.canvas-theme .fa-wrench,
.canvas-theme .nav.pull-right i {
  color: white;
}
.canvas-theme .accordion-heading .fa-info-circle:before,
.canvas-theme .fa-folder:before,
.canvas-theme .fa-list:before,
.canvas-theme .fa-pause:before,
.canvas-theme .fa-signal:before,
.canvas-theme .fa-stop:before,
.canvas-theme .fa-upload:before,
.canvas-theme .print-control .fa-print:before {
  content: none;
}
.canvas-theme .nav.pull-right a:hover i {
  color: #363636;
}
.canvas-theme .dropdown-menu i,
.canvas-theme .fa-check {
  color: #363636;
}
.canvas-theme .dropdown-submenu > a:after {
  border-left-color: #363636;
}
.canvas-theme .octoprint-container .tab-content {
  border: 1px solid #363636;
  border-radius: 0px;
}
.canvas-theme .nav-tabs {
  border: none;
}
.canvas-theme .nav-tabs li {
  margin-bottom: 0;
}
.canvas-theme #footer_version small,
.canvas-theme .nav-tabs li a {
  color: #484747;
}
.canvas-theme .nav-tabs > .active > a,
.canvas-theme .nav-tabs > .active > a:hover {
  color: white;
  background: #363636;
}
.canvas-theme .nav-tabs .active .dropdown-toggle,
.canvas-theme .nav-tabs .active .dropdown-toggle:hover,
.canvas-theme .nav-tabs .dropdown-toggle,
.canvas-theme .nav-tabs .dropdown-toggle:hover {
  margin-right: 0;
  background-color: #363636;
  border: 1px solid #363636;
  color: white;
}
.canvas-theme .nav-tabs .active .dropdown-toggle .caret,
.canvas-theme .nav-tabs .active .dropdown-toggle .caret:hover,
.canvas-theme .nav .dropdown-toggle .caret,
.canvas-theme .nav .dropdown-toggle .caret:hover,
.canvas-theme .nav .dropdown-toggle:hover .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.canvas-theme .dropdown-menu .active > a,
.canvas-theme .dropdown-menu .active > a:hover,
.canvas-theme .dropdown-menu li > a:focus,
.canvas-theme .dropdown-menu li > a:hover,
.canvas-theme .dropdown-submenu:hover > a {
  background-color: #363636;
  background-image: none;
}
.canvas-theme .nav-tabs .open .dropdown-toggle,
.canvas-theme .nav > li.dropdown.open.active > a:hover {
  background-color: #363636;
  border-color: #363636;
}
.canvas-theme #navbar .navbar-inner {
  background-image: none !important;
  border: none !important;
  background-color: #363636 !important;
  color: white;
}
.canvas-theme #navbar .navbar-inner .brand,
.canvas-theme #navbar .navbar-inner .nav > li > a {
  text-shadow: 0 1px 0 #ccc !important;
}
.canvas-theme #navbar .navbar-inner .nav > li > a:hover,
.canvas-theme #navbar .navbar-inner.transparent .nav > li > a:hover {
  background-color: #dedede;
  background-image: -moz-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: -o-linear-gradient(top, #f2f2f2, #bfbfbf);
  background-image: linear-gradient(to bottom, #f2f2f2, #bfbfbf);
  background-repeat: repeat-x;
}
.canvas-theme #navbar .navbar-inner .nav > li > a .caret {
  border-bottom-color: white;
  border-top-color: white;
}
.canvas-theme #navbar .navbar-inner .nav > li > a:hover .caret {
  border-bottom-color: rgba(54, 54, 54, 1);
  border-top-color: rgba(54, 54, 54, 1);
}
.canvas-theme .accordion-group {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 0px;
}
.canvas-theme .accordion-heading {
  background-color: #363636;
  border-bottom: 1px solid #363636;
}
.canvas-theme .accordion-heading a:hover,
.canvas-theme .accordion-toggle {
  color: white;
}
.canvas-theme .icon-sd-black-14 {
  background: url(../img/sd-card.png) no-repeat;
  width: 16px;
  height: 13px;
  margin-top: 4px;
  background-size: contain;
}
.canvas-theme .title.clickable {
  padding-top: 1px;
  padding-bottom: 1px;
}

.canvas-theme .palette-tag::after {
  content: "Palette";
  float: right;
  background-color: rgba(54, 54, 54, 1);
  padding: 0px 20px;
  color: white;
  font-weight: 700;
  border-radius: 1px;
  cursor: auto;
}
.canvas-theme #files .form-search {
  text-align: left;
}
.canvas-theme .progress .bar,
.canvas-theme .slider .slider-selection {
  background-color: rgba(54, 54, 54, 0.7);
  background-image: -moz-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(54, 54, 54, 0.5)), to(rgba(54, 54, 54, 0.95)));
  background-image: -webkit-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
  background-image: -o-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(54, 54, 54, 0.1)),
    to(rgba(54, 54, 54, 0.95))
  );
  background-image: linear-gradient(to bottom, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
}
.canvas-theme .slider .slider-selection:active,
.canvas-theme .slider .slider-selection:hover {
  background-color: rgba(54, 54, 54, 0.5);
}
.canvas-theme input.search-query {
  border-radius: 3px;
}
.canvas-theme #temperature-graph {
  background-image: none !important;
}
.canvas-theme .label-spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 51%;
}
.canvas-theme #plugin_announcements_dialog a,
.canvas-theme #settings_dialog a {
  color: rgba(54, 54, 54, 0.7);
}
.canvas-theme #plugin_announcements_dialog_content a,
.canvas-theme #plugin_announcements_dialog a:hover,
.canvas-theme #settings_dialog .nav-header,
.canvas-theme #settings_dialog a:hover {
  color: #363636;
}
.canvas-theme #plugin_announcements_dialog .nav-list > .active > a,
.canvas-theme #settings_dialog .nav-list > .active > a,
.canvas-theme #settings_dialog .nav-pills > .active > a {
  color: white;
  background-color: #363636;
}
.canvas-theme .configurelink:hover .fa-wrench {
  color: #363636;
}
.canvas-theme a.canvas-register,
.canvas-theme a.canvas-register:visited {
  text-decoration: underline;
  font-weight: 400;
  opacity: 1;
  color: #363636;
}

.canvas-theme #settings_dialog .pull-right .btn:hover i {
  color: rgba(54, 54, 54, 1);
}
.canvas-theme #connection-state-msg-canvas {
  color: red;
}
.canvas-theme .registered-accounts {
  margin-left: 0;
}
.canvas-theme .valid-token {
  color: green;
  list-style: none;
  margin: 7.5px 0;
  font-weight: 500;
}
.canvas-theme .invalid-token {
  color: red;
  list-style: none;
  margin: 7.5px 0;
  font-weight: 500;
}
