.canvas-theme {
  /* 1. Switch Octoprint Logo for Canvas Logo */
  .brand span {
    color: white;
    font-weight: 700;
    font-size: 95%;
    background-size: contain !important;
    background-image: url(../img/Mosaic_Icon_Square.png) !important;
    background-position-y: -3px;
  }

  /* 2. Button Styling */
  .btn {
    background: rgba(54, 54, 54, 1) !important;
    border-radius: 3px !important;
    opacity: 1;
    text-shadow: none !important;
    color: white !important;
    transition: 0.1s;
  }

  .btn:hover:not(:disabled),
  .btn:hover:not([disabled]) {
    background-color: rgba(54, 54, 54, 0.1) !important;
    color: rgba(54, 54, 54, 1) !important;
    transition: 0.1s;
  }

  .btn.disabled:hover {
    background-color: white !important;
    color: rgba(134, 134, 134, 1) !important;
    cursor: default;
  }

  .btn-primary[disabled],
  .btn.disabled {
    border: 1px solid rgba(134, 134, 134, 1) !important;
    color: rgba(134, 134, 134, 1) !important;
    background-color: white !important;
  }

  /* 3. Icon Styling */
  .fa-wrench,
  .accordion-heading i,
  .nav.pull-right i {
    color: white;
  }

  .fa-list:before,
  .accordion-heading .fa-info-circle:before,
  .fa-signal:before,
  .print-control .fa-print:before,
  .fa-pause:before,
  .fa-stop:before,
  .fa-folder:before,
  .fa-upload:before {
    content: none;
  }

  .nav.pull-right a:hover i {
    color: rgba(54, 54, 54, 1);
  }

  .fa-check,
  .dropdown-menu i {
    color: rgba(54, 54, 54, 1);
  }

  .dropdown-submenu > a:after {
    border-left-color: rgba(54, 54, 54, 1);
  }

  /* 4. Tabs + Tab Content Styling */

  .octoprint-container .tab-content {
    border: 1px solid rgba(54, 54, 54, 1);
    border-radius: 0px;
  }

  .nav-tabs {
    border: none;
  }

  .nav-tabs li {
    margin-bottom: 0;
  }

  .nav-tabs li a,
  #footer_version small {
    color: #484747;
  }

  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover {
    color: white;
    background: rgba(54, 54, 54, 1);
  }

  .nav-tabs .active .dropdown-toggle,
  .nav-tabs .dropdown-toggle,
  .nav-tabs .dropdown-toggle:hover,
  .nav-tabs .active .dropdown-toggle:hover {
    margin-right: 0;
    background-color: rgba(54, 54, 54, 1);
    border: 1px solid rgba(54, 54, 54, 1);
    color: white;
  }

  .nav-tabs .active .dropdown-toggle .caret,
  .nav-tabs .active .dropdown-toggle .caret:hover,
  .nav .dropdown-toggle .caret,
  .nav .dropdown-toggle .caret:hover,
  .nav .dropdown-toggle:hover .caret {
    border-top-color: white;
    border-bottom-color: white;
  }

  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:focus,
  .dropdown-submenu:hover > a,
  .dropdown-menu .active > a,
  .dropdown-menu .active > a:hover {
    background-color: rgba(54, 54, 54, 1);
    background-image: none;
  }

  .nav > li.dropdown.open.active > a:hover,
  .nav-tabs .open .dropdown-toggle {
    background-color: rgba(54, 54, 54, 1);
    border-color: rgba(54, 54, 54, 1);
  }

  /* 5. Top Navigation Bar Styling */
  #navbar .navbar-inner {
    background-image: none !important;
    border: none !important;
    background-color: rgba(54, 54, 54, 1) !important;
    color: white;
  }

  #navbar .navbar-inner .brand,
  #navbar .navbar-inner.red .nav > li > a {
    text-shadow: 0 1px 0 #ccc !important;
  }

  #navbar .navbar-inner .nav > li > a:hover,
  #navbar .navbar-inner.transparent .nav > li > a:hover {
    background-color: #dedede;
    background-image: -moz-linear-gradient(top, #f2f2f2, #bfbfbf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#bfbfbf));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #bfbfbf);
    background-image: -o-linear-gradient(top, #f2f2f2, #bfbfbf);
    background-image: linear-gradient(to bottom, #f2f2f2, #bfbfbf);
    background-repeat: repeat-x;
  }

  #navbar .navbar-inner .nav > li > a .caret {
    border-bottom-color: white;
    border-top-color: white;
  }

  #navbar .navbar-inner .nav > li > a:hover .caret,
  #navbar .navbar-inner .nav > li.dropdown.open > .dropdown-toggle .caret {
    border-bottom-color: rgba(54, 54, 54, 1);
    border-top-color: rgba(54, 54, 54, 1);
  }

  #navbar .navbar-inner .nav > li.dropdown.open > .dropdown-toggle i {
    color: rgba(54, 54, 54, 1);
  }

  /* 6. Accordion Styling */
  .accordion-group {
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 0px;
  }

  .accordion-heading {
    background-color: rgba(54, 54, 54, 1);
    border-bottom: 1px solid rgba(54, 54, 54, 1);
  }

  .accordion-heading a:hover,
  .accordion-toggle {
    color: white;
  }

  .icon-sd-black-14 {
    background: url(../img/sd-card.png) no-repeat;
    width: 16px;
    height: 13px;
    margin-top: 4px;
    background-size: contain;
  }

  .title.clickable {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .palette-tag::after {
    content: "Palette";
    float: right;
    background-color: rgba(54, 54, 54, 1);
    padding: 0px 20px;
    color: white;
    font-weight: 700;
    border-radius: 1px;
    cursor: auto;
  }

  #files .form-search {
    text-align: left;
  }

  /* 8. OTHER STYLING */
  .progress .bar,
  .slider .slider-selection {
    background-color: rgba(54, 54, 54, 0.7);
    background-image: -moz-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(54, 54, 54, 0.5)), to(rgba(54, 54, 54, 0.95)));
    background-image: -webkit-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
    background-image: -o-linear-gradient(top, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
    background-image: linear-gradient(to bottom, rgba(54, 54, 54, 0.1), rgba(54, 54, 54, 0.95));
  }

  .slider .slider-selection:hover,
  .slider .slider-selection:active {
    background-color: rgba(54, 54, 54, 0.5);
  }

  input.search-query {
    border-radius: 3px;
  }

  #temperature-graph {
    background-image: none !important;
  }

  /* 9. Specific Canvas Tab Styling */
  .label-spacing {
    display: flex;
    justify-content: space-between;
    width: 51%;
  }

  /* 10. Settings Modal Styling */
  #settings_dialog a,
  #plugin_announcements_dialog a {
    color: rgba(54, 54, 54, 0.7);
  }

  #settings_dialog a:hover,
  #settings_dialog .nav-header,
  #plugin_announcements_dialog a:hover,
  #plugin_announcements_dialog_content a {
    color: rgba(54, 54, 54, 1);
  }

  #settings_dialog .nav-list > .active > a,
  #settings_dialog .nav-pills > .active > a,
  #plugin_announcements_dialog .nav-list > .active > a {
    color: white;
    background-color: rgba(54, 54, 54, 1);
  }
  .configurelink:hover .fa-wrench {
    color: rgba(54, 54, 54, 1);
  }

  a.canvas-register,
  a.canvas-register:visited {
    text-decoration: underline;
    font-weight: 400;
    opacity: 1;
    color: rgba(54, 54, 54, 1);
  }

  #settings_dialog .pull-right .btn:hover i {
    color: rgba(54, 54, 54, 1);
  }

  /* EXTRA */

  #connection-state-msg-canvas {
    color: red;
  }

  .registered-accounts {
    margin-left: 0;
  }

  .valid-token {
    color: green;
    list-style: none;
    margin: 7.5px 0;
    font-weight: 500;
  }

  .invalid-token {
    color: red;
    list-style: none;
  }

  .canvas-plugin {
    display: none;
  }
}
