#navbar .navbar-inner {
  background-image: none !important;
  border: none !important;
  background-color: @color-1 !important;
  color: @color-2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1em 0.4em 0.1em;

  .brand,
  &.red .nav > li > a {
    text-shadow: 0 1px 0 #ccc !important;
  }

  .nav > li > a:hover,
  &.transparent .nav > li > a:hover {
    background-color: #dedede;
    background-image: -moz-linear-gradient(top, #f2f2f2, #bfbfbf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#bfbfbf));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #bfbfbf);
    background-image: -o-linear-gradient(top, #f2f2f2, #bfbfbf);
    background-image: linear-gradient(to bottom, #f2f2f2, #bfbfbf);
    background-repeat: repeat-x;
  }

  .nav > li > a .caret,
  .nav > li > a:hover .caret,
  .nav > li.dropdown.open > .dropdown-toggle .caret {
    border-bottom-color: @color-2;
    border-top-color: @color-2;
  }

  .nav > li.dropdown.open > .dropdown-toggle i {
    color: @color-2;
  }
}
