.octoprint-container .tab-content {
  border: 1px solid @color-1;
  border-radius: 0px;
}

.nav-tabs {
  border: none;
}

.nav-tabs li {
  margin-bottom: 0;
}

.nav-tabs li a,
#footer_version small {
  color: #484747;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: @color-2;
  background: @color-1;
}

.nav-tabs .active .dropdown-toggle,
.nav-tabs .dropdown-toggle,
.nav-tabs .dropdown-toggle:hover,
.nav-tabs .active .dropdown-toggle:hover {
  margin-right: 0;
  background-color: @color-1;
  border: 1px solid @color-1;
  color: @color-2;
}

.nav-tabs .active .dropdown-toggle .caret,
.nav-tabs .active .dropdown-toggle .caret:hover,
.nav .dropdown-toggle .caret,
.nav .dropdown-toggle .caret:hover,
.nav .dropdown-toggle:hover .caret {
  border-top-color: @color-2;
  border-bottom-color: @color-2;
}

.dropdown-menu li:hover > a,
.dropdown-menu li:focus > a,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: @color-1;
  background-image: none;
  color: @color-2;
}

.nav > li.dropdown.open.active > a:hover,
.nav-tabs .open .dropdown-toggle {
  background-color: @color-1;
  border-color: @color-1;
}
