<div class="row">
	<div class="distance" style="margin-left: 50px">
			<div class="row">
				<h4>Canvas Status</h4>
				<p>Connection Status: <span id="connection-state-msg-canvas" class="text-muted">Not Connected</span></p>
			</div>
			<div class="row" style="margin-top: 10px">
				<form>
					<label class="label-spacing">Email: <input type="email"></label>
					<label class="label-spacing">Password: <input type="text"></label>
					<div style="margin-top: 10px">
						<button class="btn btn-primary" data-bind="click: connectCanvas">Connect to Canvas</button>
					</div>
				</form>
			</div>
			<hr>
			<div class="row">
				<h4>Apply Canvas Theme</h4>
				<div class="checkbox">
					<label><input type="checkbox">Turn On/Off</label>
				</div>
			</div>
	</div>
</div>
