<div class="row canvas-plugin">
	<div class="distance">
			<div class="row">
				<h4>CANVAS</h4>
				<p>Connection Status: <span id="connection-state-msg-canvas" class="text-muted">Not Connected</span></p>
			</div>
			<div class="row form-row">
				<form class="add-user" data-bind="submit: addUser">
					<label class="label-spacing"><span>Username/Email: </span><input type="text" data-bind="value: userInput" required autocomplete="on"></label>
					<label class="label-spacing"><span>Password: </span><input type="password" data-bind="value: password" required></label>
					<button class="btn btn-primary connect-canvas-button">Connect a CANVAS Account</button>
					<h5><a class="canvas-register" target="_blank" href="https://canvas3d.io/signup">Don't have an account?</a></h5>
				</form>
			</div>
			<hr>
			<div class="row">
				<h4 class="registered-accounts-title">Connected CANVAS Accounts:</h4>
				<ul class="registered-accounts"></ul>
				<h6 class="toggle-remove-users"><i class="material-icons">edit</i><span>Edit</span></h6>
			</div>
	</div>
</div>
