<div class="row canvas-plugin">
	<div class="distance">
			<div class="row">
				<h4>CANVAS</h4>
				<div class="connection-status-line">
					<p>
						<span>Connection Status: </span>
						<span id="connection-state-msg-canvas" class="text-muted" data-bind="text: connectionStatus"></span>
					</p>
					<div class="connection-info-container">
						<i class="material-icons connection-info-icon" data-bind="click: toggleStatusInfo">info_outline</i>
						<div class="connection-info-text">
							<h6 class="connection-info-heading" data-bind="text: connectionInfoHeading"></h6>
							<div class="connection-info-body"><p data-bind="text: connectionInfoBody"></p></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row form-row">
				<form class="add-user" data-bind="submit: addUser">
					<label class="label-spacing"><span>Username/Email: </span><input type="text" data-bind="value: userInput" required autocomplete="on"></label>
					<label class="label-spacing"><span>Password: </span><input type="password" data-bind="value: password" required></label>
					<button class="btn btn-primary connect-canvas-button">Link a CANVAS Account</button>
					<h5><a class="canvas-register" target="_blank" href="https://canvas3d.io/">Don't have an account?</a></h5>
				</form>
			</div>
			<hr>
			<div class="row">
				<h4 class="registered-accounts-title">Linked Accounts:</h4>
				<ul class="registered-accounts" data-bind="foreach: users, visible: users().length > 0">
					<li class="registered-canvas-user">
        		<i class="material-icons md-18">person</i>
        		<span class="username" data-bind="text: username"></span>
        	</li>
				</ul>
				<h5 class="hub-manage-container"><a class="canvas-hub-manage" target="_blank" href="https://canvas3d.io/hubs">Manage Hub Accounts</a></h5>
				{# <button class="btn btn-primary hub-manage-container"><a class="canvas-hub-manage" target="_blank" href="https://canvas3d.io/hubs">Manage Hub Accounts</a></button> #}
			</div>
	</div>
</div>
