<div>
  <h4>CANVAS Settings</h4>
  <div class="checkbox theme-input-label">
    <label>
      <input class="theme-input" type="checkbox" data-bind="checked: settings.plugins.canvas.applyTheme">
      <span>Display CANVAS Theme</span>
    </label>
    <label>
      <input class="important-update-input" type="checkbox" data-bind="checked: settings.plugins.canvas.importantUpdate">
      <span>Show Important Update Alerts</span>
    </label>
  </div>
</div>